.signup-otp-field {
  display: none;
}
.signup-button {
  display: none;
}

@media (max-width: 450px) {
  .info {
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
