// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #f6f9f9;
}

.app-name {
  a {
    color: #003249;
    text-decoration: none;
  }
  a:hover {
    color: #017095;
  }
}

.icon-left {
  margin-left: 5px;
}
.icon-right {
  margin-right: 5px;
}
.importance {
  color: #007ea7;
}

.info-part {
  display: flex;
  flex-direction: column;
  gap: -10px;
  margin-top: 30px;
  margin-bottom: 30px;

  .info {
    font-size: 15px;
    color: $gray-900;
    a {
      text-decoration: none;
      color: $blue-500;
    }
  }
  .reset-password {
    margin-top: -10px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toast {
  position: fixed;
  top: 50px;
  right: 20px;
  color: #eee;
  width: 300px;
  font-weight: 700;
  z-index: 1000;
  animation: toast 500ms forwards;
}

@keyframes toast {
  from {
    opacity: 0;
    transform: translateX(120%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.auth {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background: linear-gradient(180deg, #9ad1d4, #ccdbdc);
    width: 100%;
    max-width: 480px;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;

    .auth-head {
      margin-bottom: 20px;
      color: #007ea7;
    }
    div {
      label {
        color: #007ea7;
      }
      input {
        border: 2px solid #007ea7;
        color: #007ea7;
      }
      input::placeholder {
        color: #007ea7;
      }
    }
    .otp {
      background-color: #007ea7;
      border: 2px solid #007ea7;
    }
    .submit {
      background: transparent;
      color: #007ea7;
      border: 2px solid #007ea7;
    }
    .submit:hover {
      background-color: #007ea7;
      color: #ccdbdc;
      border: 2px solid #007ea7;
    }
  }
}

@import "home";
@import "signUpAuth";
@import "resetPassword";
@import "userSection";
@import "dashboard";
