// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

.task-card {
  margin-bottom: 20px;
}
.delete-task {
  margin-top: 20px;
}
.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
